CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
build/
out/
bin/

.vs/
*.user
*.suo
*.sln.docstates
*.vcxproj.user
*.db
*.opendb

*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.obj
*.idb
*.tlog
*.lastbuildstate

.idea/
cmake-build-*/

auth/*
!auth/.gitkeep